<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Domain: <%= params[:domain] %></li>
          <li class="">
              <a class=""  data-toggle="ajaxmodal" title="" name="newalias" href="/add/record/<%= @domain_id %>"><i class="icon-plus"></i>
                Add record
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span10">
    <!--Body content-->
      <table class="tablesorter table">
        <thead>
          <tr>
            <th>NAME</th>
            <th>type</th>
            <th>content</th>
            <th>ttl</th>
            <th>prio</th>
            <th>pop</th>
            <th>last update</th>
            <th>Author</th>
            <th></th>        
          </tr>
        </thead>
        <tbody>
          <% @records.each do |record| %>
          <tr>
            <td><%= record[:name]%></td>
            <td><%= record[:type]%></td>
            <td><%= record[:content]%></td>
            <td><%= record[:ttl]%></td>
            <td><%= record[:prio]%></td>
            <td><%= record[:pop]%></td>
            <td><%= record[:last_update]%></td>
            <td><%= record[:update_by]%></td>
  
              <td><a href="/delete/record/<%= @domain_id %>/<%= record[:id] %>" class="btn btn btn-mini"><i class="icon-remove-circle"></i></a></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>